NODE_ENV=production
PORT=3000
NEXT_PUBLIC_API_URL=https://api.solidxcad.equvinoxis.com
NEXT_PUBLIC_APP_NAME=SolidX CAD
NEXT_PUBLIC_VIEWER_URL=https://viewer.solidxcad.equvinoxis.com
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
